<div
  class="overflow-hidden rounded-2xl sm:px-6 sm:pt-6 card shadow bg-base-100 p-4"
>
  <div class="flex items-center justify-between">
    <h3 class="text-lg font-semibold">Ventas mensuales</h3>
    <div class="relative inline-block"></div>
  </div>

  <div class="max-w-full overflow-x-auto custom-scrollbar">
    <div class="-ml-5 min-w-[650px] xl:min-w-full pl-2">
      <apx-chart
        [series]="series"
        [chart]="chart"
        [xaxis]="xaxis"
        [plotOptions]="plotOptions"
        [dataLabels]="dataLabels"
        [stroke]="stroke"
        [legend]="legend"
        [yaxis]="yaxis"
        [grid]="grid"
        [fill]="fill"
        [tooltip]="tooltip"
        [colors]="colors"
      ></apx-chart>
    </div>
  </div>
</div>
